---
---

@import "{{ site.theme }}";
@import url(https://fonts.googleapis.com/css?family=Nunito:300,500);

$navy: #00416B;
$navy-dark: #386486;
$accent-blue: #45B5D0;
$navy-60: #6C87A3;

body {
	font-family: Nunito;	
}

.page-header {
	background-color: $navy;
	background-image: none;
	
	a {
		color: #ffffff;
	}
}

a {
	color: $accent-blue;
}

.main-content {
	color: $navy-60;
	
	h1, h2, h3, h4, h5, h6 {
		font-size: 1.2em;
		font-weight: bold;
		color: $navy-dark;
		
		a {
			color: $navy-dark;
		}
	}
}
