---
---

@import "{{ site.theme }}";

.page-header {
	background-color: #2e3c4f;
	background-image: none;
}

a {
	color: #f36b21;
}

.main-content {
	color: #545d6d;

	h1 {
		color: #545d6d;
	}

	h4 {
		color: #545d6d;
		font-weight: bold;
	}
}
